* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Whitney", sans-serif;
}

.bg-head {
  background-color: orange;
}

.head-tag {
  min-height: 80px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  position: relative;
  margin: 0 300px;
}

.justify-content {
  justify-content: center;
}
.logo {
  width: 100px;
  position: absolute;
  right: 50%;
}
a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.card {
  width: 400px;
  height: 600px;
  margin-top: 80px;
  position: relative;
}

.card img {
  max-width: 100%;
}
.barred {
  text-decoration: line-through;
}
.red {
  color: red;
}
.bg-red {
  background-color: red;
  padding: 5px 5px;
  color: white;
  position: absolute;
  bottom: 60px;
  left: 0;
  font-size: 1rem;
}
.bg-green {
  background-color: green;
  padding: 5px 5px;
  color: white;
  position: absolute;
  bottom: 60px;
  left: 50px;
  font-size: 1rem;
}
.heart {
  background-color: white;
  padding: 8px 15px;
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 2rem;
}
